body,body::after,body::before{
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
body{
    position: fixed;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    margin: 0;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-tap-highlight-color: transparent;
}
body::after,body::before{
    position: absolute;
}
body::before{
    z-index: -1;

    content: '';

    background-color: rgba(0, 0, 0, .55);
}
body::after{
    z-index: -2;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    content: '';

    background: url(../images/cover.jpg);
    background-size: 100% 100%;

    -webkit-filter: blur(15px);
    filter: blur(15px);
}
.disc{
    width: 45vmin;
    height: 45vmin;

    cursor: pointer;
    -webkit-animation: rotate 10s linear infinite;
            animation: rotate 10s linear infinite;

    color: #fff;
    border: 10vmin solid #333;
    border-radius: 50%;
    background: #000 url(../images/cover.jpg) 0 / 100% 100%;
    box-shadow: 0 0 6px 0 #000;
}

.pause{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@-webkit-keyframes rotate {
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
